<style>

</style>



<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


{{ attach_library('mymodules/angular.angularjs') }}

<div ng-app="myApp" ng-controller="customersCtrl"> 

<ul>
  <li ng-repeat="x in names">
     {{ "{{ x.Name + ', ' + x.Country }}" }}  
  </li>
</ul>

</div>


<button id='add'>Click Me</button>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("http://www.w3schools.com/angular/customers.php")
  .success(function (response) {$scope.names = response.records;});
});
</script>

<div id="nadir"> 
<h1>Collection hash php5</h1>

<table >
            <tr>
                <th>Hostname</th>
                <th>Variables</th>
               
            </tr>

  {% for all in all %}
            <tr>
                <td>{{ all.hostname }}</td>
                <td>{{ all.variables }}</td>
                
             </tr>
{% endfor %}
</table>
            
Seven 8.0.0-beta15 (admin theme)
The default administration theme for Drupal 8 was designed with clean lines, simple blocks, and sans-serif font to emphasize the tools and tasks at hand.



<h1>Formulaire with Drupal 8 ( Render ) </h1>

{{ form }} 

<br/>
<img src="https://drupalize.me/sites/default/files/blog_post_images/composer-downloads-drush.png" />
</div>